/* -------------- */
/* ----GLOBAL---- */
/* -------------- */
@font-face {
  font-family: "Halloween";
  src: url(fonts/halloween.ttf);
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Halloween", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: red;
  background-color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: red;
}

h1 {
  letter-spacing: 3px;
  font-size: 200%;
  font-weight: 400;
}

h2 {
  letter-spacing: 3px;
  font-size: 160%;
  margin: 0;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 130%;
  font-weight: 300;
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}

header {
  margin: 0 auto;
  padding-top: 10px;
  background-color: #141414;
}

p {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

.container-home,
.container-search,
.container-information {
  max-width: 1280px;
  margin: 5px auto 0;
}

/* .container-home div {
  border: 2px solid white;
} */
.container-search,
.container-information {
  flex-direction: column;
}

/* -------------- */
/* ----REUSABLE---- */
/* -------------- */
.row {
  display: flex;
  width: 100%;
}

/* -------------- */
/* ----HEADER---- */
/* -------------- */
.container-header {
  max-width: 1280px;
  margin: 0 auto;
}

.container-logo {
  text-align: left;
  width: 25%;
}

.logo {
  margin-top: 5px;
  width: 100px;
  height: auto;
}

.container-searchBar {
  width: 50%;
}

.search {
  position: relative;
  text-align: center;
}

.search input {
  width: 80%;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  font-size: 80%;
}

.search a {
  position: absolute;
  right: 12%;
  top: 7px;
}

.fa-search {
  font-size: 110%;
  color: grey;
}

/* -------------- */
/* ----FAVORITE BUTTON---- */
/* -------------- */
.container-favorites {
  position: relative;
  text-align: right;
  width: 25%;
  margin-top: 7px;
}

.container-btn-favorites {
  float: right;
  width: 35%;
}

.btn-favorites {
  position: relative;
  margin-top: 2px;
}

.fa-sort-desc {
  position: absolute;
  top: -7px;
  right: 95px;
  font-size: 130%;
}

.favorite-panel {
  visibility: hidden;
  position: absolute;
  background-color: #141414;
  z-index: 10;
  width: 100%;
  top: 20px;
  right: 0;
  border: 2px solid white;
}

.favorite-panel:hover,
.container-btn-favorites:hover + .favorite-panel {
  visibility: visible;
  transition: visibility 0.5s;
}

.favorite-panel ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 2px solid white;
}

.favorite-panel li {
  border: 2px solid white;
}

.favorite-panel a {
  margin-bottom: 0;
}

.favorited-item {
  display: flex;
  position: relative;
  min-height: 90px;
  width: 100%;
}

.favorited-item h4 {
  text-align: center;
  margin: auto 0;
  width: 100%;
}

.favorited-item img {
  width: 60px;
}

.highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  transition: background-color 0.5s;
}

.highlight:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s;
}

.btn-remove {
  position: absolute;
  margin-top: 7px;
  right: 10px;
  color: white;
}

.btn-remove:hover {
  color: grey;
  transition: color 0.5s;
}

/* -------------- */
/* ----TMDB LOGO---- */
/* -------------- */
.logo-tmdb {
  width: 100%;
}

.logo-tmdb img {
  height: 200px;
  width: 100%;
  margin: 50px auto;
}

/************************HOME PAGE*********************************/
/* -------------- */
/* ----SECTION RECOMMENDED---- */
/* -------------- */
.section-recommended {
  width: 100%;
}

.container-recommended {
  display: flex;
  width: 100%;
  min-height: 600px;
  margin-bottom: 20px;
}

.container-movie {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 66%;
  min-height: 600px;
  border: 4px solid #141414;
}

.container-trailer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* height: 100%; */
  /* min-height: 100%; */
}

.trailer {
  width: 100%;
  flex: 1;
  border: 2px solid #141414;
}

.container-movie-details {
  position: absolute;
  opacity: 100;
  bottom: 0;
  z-index: 10;
  transition: opacity 0.3s;
}

.container-movie-title {
  display: flex;
}

.container-poster {
  position: relative;
  width: 20%;
  min-width: 130px;
}

.favorite {
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.favorite:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s;
}

.favorite:hover i {
  color: yellow;
}

.star-fill {
  color: yellow;
}

.container-movie-description {
  display: flex;
  width: 80%;
  min-height: 100%;
  background-image: linear-gradient(rgba(20, 20, 20, 0), #141414);
}

.movie-description {
  margin-top: auto;
  padding-left: 5px;
  width: 100%;
}

.movie-description h1 {
  margin: 0;
}

.movie-description h3 {
  display: flex;
}

.movie-description p {
  margin-left: 5px;
  font-weight: 600;
}

/* -------------- */
/* ----WHATS NEXT---- */
/* -------------- */
.container-next-movies {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 34%;
}

.next-movie-title {
  height: 5%;
}

.container-next-movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.whatsNext {
  display: flex;
  width: 100%;
  min-height: 33%;
  margin-bottom: 5px;
  background-image: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.3));
}

.next-poster {
  position: relative;
  max-height: 100%;
  width: 25%;
  min-width: 120px;
}

.container-next-description {
  display: flex;
  min-height: 100%;
  width: 75%;
}

.next-description {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

/* -------------- */
/* ----SECTION PICKS---- */
/* -------------- */
.section-movies {
  margin-top: 50px;
  width: 100%;
}

.container-movies {
  min-height: 340px;
  margin-bottom: 20px;
}

.container-movies div:first-of-type {
  margin-left: 0;
}

.container-list-movie {
  display: flex;
  width: 17%;
  /* min-width: 150px; */
  margin-left: 10px;
}

.movie-poster-container {
  display: flex;
  flex-direction: column;
}

.display-movie-poster {
  position: relative;
  /* min-height: 77%; */
  height: 100%;
  width: 100%;
}

.display-poster-description {
  margin-top: auto;
  padding-top: 4px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8));
}

@media only screen and (max-width: 1300px) {
  .container-main {
    margin: 0 5px;
  }

  header {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .logo-tmdb img {
    height: 150px;
  }

  .container-recommended {
    flex-direction: column;
    min-height: 0;
  }

  .container-movie {
    width: 100%;
  }

  .container-poster {
    width: 13%;
  }

  .container-movie-description {
    width: 87%;
  }

  .container-next-movies {
    margin-left: 0;
    height: 34%;
    width: 100%;
  }

  .next-movie-title {
    height: 8%;
  }

  .next-movies {
    flex-direction: row;
    width: 100%;
    height: 92%;
  }

  .next-movies div:first-of-type {
    margin-left: 0;
  }

  .next-movie {
    width: 33%;
    min-height: 100%;
    margin-left: 5px;
  }

  .next-poster {
    width: 15%;
  }

  .container-next-description {
    width: 85%;
  }

  .container-list-movie {
    width: 20%;
  }

  .container-movies .our-picks:last-child,
.container-movies .funny:last-child,
.container-movies .remake:last-child,
.container-movies .classic:last-child {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  body {
    font-size: 16px;
  }

  .logo-tmdb {
    width: 90px;
  }

  .logo-tmdb img {
    margin: 0;
    height: 40px;
  }

  .container-movie {
    flex-direction: column;
  }

  .container-list-movie {
    width: 25%;
  }

  .container-movies .our-picks:nth-last-child(-n+2),
.container-movies .funny:nth-last-child(-n+2),
.container-movies .remake:nth-last-child(-n+2),
.container-movies .classic:nth-last-child(-n+2) {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .container-list-movie {
    width: 33%;
  }

  .container-movies .our-picks:nth-last-child(-n+3),
.container-movies .funny:nth-last-child(-n+3),
.container-movies .remake:nth-last-child(-n+3),
.container-movies .classic:nth-last-child(-n+3) {
    display: none;
  }

  .logo-tmdb {
    width: 80px;
  }

  .logo-tmdb img {
    height: 35px;
  }

  .logo {
    width: 80px;
  }

  .container-favorites {
    width: 20%;
  }

  .fa-sort-desc {
    right: 85px;
    top: -2px;
  }

  .container-btn-favorites {
    width: 100%;
  }

  .container-logo {
    width: 20%;
  }

  .container-searchBar {
    width: 60%;
  }

  .favorite-panel {
    width: 300%;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }

  h2 {
    font-size: 180%;
  }

  h3 {
    font-size: 140%;
  }

  h4 {
    font-size: 130%;
  }

  p {
    font-size: 110%;
  }

  header {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
